@use "sass:math";
@use "../config/variable" as *;
$background-color: #191a1e;

//Burger Variables - COPY
$burger-width: 45px;
$burger-height: 45px;
$stroke-color: #404040;
// BURGER SVG
.burger {
	position: relative;
	display: flex;
	width: $burger-width;
	height: $burger-height;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transform: rotate(180deg);

	svg {
		position: absolute;
		left: -10px;
	}

	.line {
		fill: none;
		stroke: $stroke-color;
		stroke-width: 6;
		transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
			stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

		&1 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
		&2 {
			stroke-dasharray: 60 60;
			stroke-width: 6;
		}
		&3 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
	}
	&.open .line {
		&1 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
		&2 {
			stroke-dasharray: 1 60;
			stroke-dashoffset: -30;
			stroke-width: 6;
		}
		&3 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
	}

	&.close .line {
		&1 {
			stroke-dasharray: 40 207;
			stroke-width: 6;
		}
		&2 {
			stroke-dasharray: 60 60;
			stroke-width: 6;
		}
		&3 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
	}

	&.open:hover {
		.line1 {
			stroke-dasharray: 90 207;
		}
	}

	// &:hover {
	// 	.line1 {
	// 		stroke-dasharray: 60 207;
	// 	}
	// }
}
