@use  '../config/_variable.scss' as *;
@use  '../config/_mixin.scss' as *;
@use "../components/cards/_card-eight.scss" as *;

.news{
    &__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 81px 27px;
        margin-bottom: 64px;
    }

    @media only screen and (max-width: 1440px) {
        &__grid{
            gap: 60px 20px;
        }
    }

    @media only screen and (max-width: 991.98px) {
        &__grid{
            margin-top: 50px;
            grid-template-columns: repeat(2,1fr);
        }
    }
    
    @media only screen and (max-width: 767.98px) {
        &__grid{
            margin-top: 40px;
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media only screen and (max-width:575.98px) {
        &__grid{
            grid-template-columns: repeat(1,1fr);
            gap: 40px 0px;
        }
    }
}