@use "../../config/_variable.scss" as *;
@use "../../config/_mixin.scss" as *;

.card-nine{
    @include imageRatio(516,210,false,cover,'image');
    background: $white;
    //box-shadow: 0px 27px 72px rgba(48, 52, 77, 0.07), 0px 6.0308px 16.0821px rgba(48, 52, 77, 0.0417275), 0px 1.79553px 4.78807px rgba(48, 52, 77, 0.0282725);
    border-radius: 12px;

    &:hover  &__image{
        transform: scale(1.2);
    }

    &:hover  &__title,
    &:hover  &__link,
    &:hover  &__icon{
       color: $secondary-80;
    }

    &:hover  &__icon{
        left: 10px;
     }

    &__image-container{
        margin-bottom: 12px;
        overflow: hidden;
        border-radius: 12px 12px 0px 0px;
    }
    &__image{
        transition: 1s ease;
    }
    &__date{
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 28px;
        color: $neutral-70;
        margin-bottom: 12px;
    }

    &__title{
        @include elypsis($font-size: 24, $lines-to-show: 2, $line-height : 30px);
        margin-bottom: 12px;
        font-weight: 700;
        color: $neutral-100;
        transition: 0.4s ease;
    }

    &__content{
        margin-bottom: 26px;
    }

    &__link{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: $primary-80;
        vertical-align: middle;
        transition: 0.4s ease;
    }

    &__icon{
        position: relative;
        left: 0px;
        color: $primary-80;
        vertical-align: middle;
        transition: 0.4s ease;
    }

    @media only screen and (max-width: 1440px) {
        &__title{
            @include elypsis($font-size: 18, $lines-to-show: 2, $line-height : 1.5);
        }
    
        &__link{
            font-size: 14px;
            line-height: 24px;
        }
    }

    @media only screen and (max-width: 1199.98px) {
        &__title{
            @include elypsis($font-size: 16, $lines-to-show: 2, $line-height : 1.5);
        }
    }
    @media only screen and (max-width: 767.98px) {
        border-radius: 8px;
    }
}
