@use "../../config/_variable.scss" as *;
@use "../../config/_mixin.scss" as *;

.card-elnvoicing{
    @include imageRatio(578,661);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

    &:nth-child(2) &__info-container{
        order: 2;
    }
    &:nth-child(2) &__image-container{
        order: 1;
    }

    &:nth-child(2) &__content{
        padding-right: 0px;
        padding-left: 80px;
    }
    
    &__content{
        padding-right: 80px;

        h3,h4,h5{
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #0A0A0A;
        }

        P{
            margin-bottom: 60px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #404040;
        }

        ul{
            list-style: none;
            padding: 0px;
        }

        li{
            position: relative;
            margin-bottom: 24px;
            padding-left: 32px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $neutral-90;
            &:last-child{
                margin-bottom: 0px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: $secondary-80;
                border-radius: 100%;
            }
        }
    }


    @media only screen and (max-width: 1440px) {
        &__content{
            padding-right: 50px;
    
            h3,h4,h5{
                font-size: 20px;
                line-height: 24px;
            }
    
            P{
                margin-bottom: 32px;
                font-size: 14px;
                line-height: 24px;
            }    
            li{
                margin-bottom: 20px;
                padding-left: 27px;
                font-size: 14px;
                line-height: 24px;
                &:last-child{
                    margin-bottom: 0px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background-color: $secondary-80;
                    border-radius: 100%;
                }
            }
        }
    }

    @media only screen and (max-width: 991.98px) {
        grid-template-columns: repeat(1,1fr);

        &:nth-child(2) &__info-container{
            order: 1;
        }
        &:nth-child(2) &__image-container{
            order: 2;
        }
    
        &:nth-child(2) &__content{
            padding-right: 0px;
            padding-left: 0px;
        }

        &__content{
            padding-right: 0px;
        }

        &__image-container{
            margin-top: 40px;
            text-align: center;
        }

        &__image{
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 767.98px) {
        &__content{
            P{
                font-size: 16px;
                line-height: 24px;
            }
            li{
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}