// MY THEME COLORS
$primary-30:#E0E1EB;
$primary-40:#DEE0F2;
$primary-50:#fe9000;
$primary-60:#43486B;
$primary-80:#30344D;
$primary-100:#14151F;

$secondary-30:#E5F6F3;
$secondary-40:#C4FDF6;
$secondary-50:rgba(15, 215, 189, 0.3);
$secondary-60: #70F5E4;
$secondary-80:#0FD7BD;
$secondary-100: #0D6E61;

$neutral-10:#FFFFFF;
$neutral-20:#F5F5F5;
$neutral-30:#EDEDED;
$neutral-40:#E0E0E0;
$neutral-50:#C2C2C2;
$neutral-60:#9E9E9E;
$neutral-70: #757575;
$neutral-80: #616161;
$neutral-90: #404040;
$neutral-100:#0A0A0A;

//HOVER FOCUS COLOR
$primary-hover:#43486B;
$secondary-hover:#70F5E4;
//WHITE AND BLACK
$white: #fff;
$black: #000000;
$border-color:#ECECEC;

$cubic: cubic-bezier(0.44, 0.43, 0, 1.85);
$cubic2: cubic-bezier(0.31, 0.42, 0, 1.39);

$primary-font: 'Work Sans', sans-serif;
$primary:$primary-50;
$secondary:$secondary-60;

$box-shadow:0px 27px 72px rgba(48, 52, 77, 0.07), 0px 6.0308px 16.0821px rgba(48, 52, 77, 0.0417275), 0px 1.79553px 4.78807px rgba(48, 52, 77, 0.0282725);
$box-shadow-100: 1px 1px 22px -3px rgba(0, 0, 0, 0.13);
$box-shadow-200: 0px 3px 15px rgba(0, 0, 0, 0.05);